* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    --main-color: #1992d4;
}

p,
h1,
h2,
ul {
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "nav main";
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
    
    background-color: var(--main-color);
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 9px 0;
}

nav a {
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 6px 0 6px 24px;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

div.menu-title {
    display: flex;
    align-items: center;
    padding: 20px 20px 0 20px;

    gap: 16px;
    font-size: 28px;
}

img.logo {
    width: 64px;
}

main {
    grid-area: main;

    display: grid;
    grid-template-rows: 10.5rem 1fr;
}

header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

div.top-bar {
    margin: 16px 48px;
    grid-template-columns: 37.5px 1fr 36px 48px 20ch;
    align-items: center;

    gap: 16px;
}

button.search-button,
input.search-bar-input {
    border: none;
}

div.bell-icon,
div.top-profile-picture {
    display: flex;
    justify-content: center;
}

p.username {
    text-align: center;
}

div.top-profile-picture,
div.greeting-profile-picture {
    width: min-content;
    border: 1px solid black;
    border-radius: 50%;
}

div.top-bar,
div.profile-actions {
    display: grid;
    grid-auto-flow: column;
}

div.profile-actions {
    align-items: center;
    grid-template-columns: min-content 1fr 1fr;
    margin: 0 48px;
    font-weight: 600;
    gap: 16px;
}

div.profile-action-buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;

    justify-content: right;
}

p.name-and-tag {
    font-size: 1.5rem;
}

button.action-option {
    background-color: var(--main-color);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 8px 32px;
    border-radius: 300px;
}

div.content {
    display: grid;

    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "user-projects announcements"
                         "user-projects trending";
    gap: 16px;

    padding: 24px 16px;
}

.content-section-title {
    font-size: 24px;
    margin-bottom: 16px;
}

.user-projects {
    grid-area: user-projects;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 24px;
}

.project-card {
    border-left: 8px solid #F0B429;
    border-radius: 8px;
    padding: 32px 32px 32px 24px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    height: 200px;
}

.project-title {
    font-size: 18px;
    margin-bottom: 2px; 
}

.project-description {
    color: #707070;
    height: 80px;
}

.project-action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 28px;
}

.project-action-button .icon {
    width: 24px;
    height: 24px;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}